/* header.css */
header {
    background-color: black; /* لون خلفية */
    color: white; /* لون النص (يمكن تغييره حسب الحاجة) */
    padding: 10px; /* إضافة بعض الحشوة حول النص */
    text-align: center; /* محاذاة النص إلى الوسط */
}
