@inherits LayoutComponentBase

<header class="header">
    <div class="container">
        <h1 class="logo">شعار التطبيق</h1>
        <nav>
            <ul class="nav-links">
                <li><NavLink href="/">الرئيسية</NavLink></li>
                <li><NavLink href="/about">حول</NavLink></li>
                <li><NavLink href="/contact">اتصل بنا</NavLink></li>
                <li><NavLink href="/userform">التسجيل</NavLink></li>
                <li><NavLink href="/login">تسجيل الدخول</NavLink></li>

            </ul>
        </nav>
    </div>
</header>

<div class="main-content">
    @Body
</div>
