@using WebStoerPhone.Components.Header
@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blazor App</title>
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>
    <Header />

    <div class="main">
        @Body 
    </div>
</body>
</html>
